<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tebsonatishop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activities.TestCollAps"></activity>
        <activity android:name=".activities.CatAsatidClick" />
        <activity android:name=".activities.ProfileEdit" />
        <activity android:name=".activities.MainActivity2" />
        <activity android:name=".activities.AddressHa" />
        <activity android:name=".activities.Address" />
        <activity android:name=".activities.Profile" />
        <activity android:name=".activities.BeforLogin" />
        <activity android:name=".activities.CommentsForManager" />
        <activity android:name=".activities.UsersForManager" />
        <activity android:name=".activities.SefareshatForManager" />
        <activity android:name=".activities.AfterPayment" />
        <activity android:name=".activities.Payment" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity
            android:name=".activities.Ghazaye_Fori"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Cat_Food"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MoreCatMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MoreCat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Cat2_click"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Cat2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Cat1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TakmilSefaresh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SabadKharidAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Mahsol"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Sefareshat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 //توجه مهم: خط زیر وقتی که میخواهیم از والی استفاده کنیم در اندروید 9 حتما باید باشه وگرنه
        برنامه اررور میده
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activities.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.Main_user_login_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.Main_user_register_activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>